[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "traveltimeR"]
	path = traveltimeR
	url = https://github.com/traveltime-dev/traveltime-sdk-r
